<settings>
    <category label="Appearance">
        <setting id="sort" label="Sort" type="bool" default="true"/>
        <setting id="add" label="Show Add Button" type="bool" default="true"/>
        <setting id="edit" label="Show Edit Commands" type="bool" default="true"/>
    </category>
    <category label="Maintenance">
        <setting type="lsep" label="(zip file containing folders directory)"/>
        <setting id="url" label="Replacement Url" type="text" default=""/>
        <setting id="replace" label="Replace Everything" type="action"
                 action="RunPlugin(plugin://plugin.program.simple.favourites/nuke)"/>
    </category>
</settings>